* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Amatic SC', cursive;
    
}
p {
    font-size: 20px;
    line-height: 180%;
    margin-left: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
    color: red;
    margin-top: 20px;
    margin-left: 10px;
}
nav ul li:hover {
    background-color: red;
}

nav {
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    
}
nav > ul {
    display: inline;
    padding: 10px;
    font-size: 25px;
}
nav ul li {
    
    display: inline-block;
    margin: 0 5px 0 5px;
    list-style: none;
    padding: 10px;
    letter-spacing: 2px;
}
nav a:visited, nav a:link {
    text-decoration: none;
    color: white;
}

.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: black;
    border-radius: 0px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
/* the receipt */
.cart {
    width: 300px;
    height: 500px;
    position: fixed;
    top: 60px;
    bottom: 0px;
    right: -300px; /* hides it */
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    background-color: #d23e50;
    padding: 30px;
    box-shadow: 2px 0 20px 5px rbba(0, 0, 0, 0.24);
    transition: all 0.25s ease-in-out
}

.cart h2 {
    text-align: center;
    margin-bottom: 10px;
}

.toggleCart{
	position: relative;
}

.fa-circle {
    font-size: 21px !important;
    color: #90BF39 ;
}

.num {
    font-size: 12px;
    padding: 3px 6px;
    color: #fff;
}

.num, .fa-circle {
    position: absolute;
    right: -9px;
    top: -9px;
}

#cartToggle{ 
	display: none;
}

/*where the magic happens*/
#cartToggle:checked ~ div.mainBody > .cart{
	right: 0px;
}

#cartToggle:checked ~ div.mainBody{
	right: 100px;
}

#cartToggle:checked ~ div.mainBody > .cart > button.finishOrder{
	right: 5px;
}
.btn2 {
    background-color: #90BF39;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16), 0px 6px 10px rgba(0, 0, 0, .23);
	transform: scale(1.05, 1.05);
}
.btn2:hover {
    background-color: #d23e50;
}

/* checkoutbutton */

.finishOrder {              
    width: 200px;
    position: absolute;
    bottom: 0;
    right: -265px;
    z-index: 2;
    padding: 6px 28px;
    border-radius: 0;
    text-align: center;
}
/* the buttons */

.btn {
    background-color: #d23e50;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 7px 10px;
    letter-spacing: .1em;
    border-radius: 3px;
    z-index: 1;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.btn1 {
    background-color: #90BF39;
}
.btn3 {
    background-color: #d23e50;
}

.mainBody {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 90%; 
    right: 0px; 
}

.menus {
    padding: 10px;
    margin-bottom: 40px;
    width: 300px;
    position: relative;
}

.pizzaTable {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;          
     /*not sure if it is necessary. think it takes items to the next line*/
}

img {
    width: 100%;
    height: 80%;
}

.totalResults  {
    display: inline-block;
}

.name {
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}

.price {
    font-weight: bold;
    font-size: 30px;
    padding: 0px 15px;
}
.modal {
    font-size: 25px;
}

#menu-all {
	width: 650px;
	margin: 0% auto;
	padding: 1px 0px;
}

#form {
	margin: 0% auto;
	width: 100%;
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
	/* flex-direction: row; */
	/* justify-content: flex-start; */
	/* align-items: stretch; */
}
.menu-item {
	flex: 1 150px;
	min-width: 0;
	border: 3px solid #fff;
	box-shadow: 0 0 0 2px rgba(0,0,0, .3);
    padding: 0 0 10px 0;
	margin: 3px;
	border-radius: 1px;
	background-color: rgba(255, 255, 255, 0.9);
}

.menu-item>h3 {
	color: #fff;
	padding: 0 0 0 60px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.8);
	text-shadow: 1.5px 1.5px 5px #000, 1px 1px 5px #000;
}

.controls {
	/* display: flex; */
    justify-content: space-between;
	/* margin: 10px auto 30px; */
	width: 100%;
}

.controls>.button {
	flex: 20px;
}

.button {
	cursor: pointer;
	color: #fff;
	width: 100%;
	display: block;
	text-decoration: none;
	border-radius: 1px;
	margin: 1% 3px;
	padding: .1px 0 .1px 0px;
    font: 15px;
	transition-timing-function: ease-in-out;
	transition-duration: .3s, .5s, .2s;
}

.Order > a:visited, a:link {
    text-decoration: none;
    color: white;
}

/* the bottom*/

#finishOrderDialog {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

#finalOrderList h3 {
    text-align: center;
}

.buyerInfo {
    width: 50%;  /*????????????????????????????????? */
    margin: 0 10px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

#buyerInfo input {
    margin: 5px 0;
    padding: 10px;
    width: 50%;
    font-size: 25px;
}
#buyerInfo .order {
    display: block;
    width: 50%;
    margin-top: 10px;
    text-align: center;
}

#thankMessage {
    padding: 20px;
}



  footer {
      background-color: black;
      color: white;
      position: fixed;
      width: 100%;
      bottom: 0;
      margin-bottom: 0;
      font-size: 25px;
      text-align: center;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }